main {
    font-size: 1.25rem;
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

.select-files-expanded {
    padding: 50px;
}
.select-files {
    border: 5px dashed black;
}

.album-cover {
    object-fit: contain;
    max-width: 512px;
    max-height: 512px;
}
.loading-indicator {
    text-decoration: underline;
}
.timecodes {
    width: 100%;
    overflow-x: auto;
}
